ul{
    list-style: none;
    margin:0px;
    padding:0px;
}
ul li{
    padding: 10px;
    border-bottom:1px solid lightgray;
}
ul li a{
    color: dimgray;
}
span{
    display: block;
    text-align: center;
}
.profile::before{
    content: "";
    display: block;
    padding-bottom: 20%;
}
.profile::after{
    content: "";
    display: block;
    padding-bottom: 5%;
}
.profile{
    background-image: url(../images/bg.jpg);background-size: contain;background-repeat:no-repeat;
}
.profile img{
    width: 20%;
    height: 20%;
}
.profile a{
    color: floralwhite;
    font-size: medium;
}